html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: white;
  background-color: #3e5454;
  font-family: 'hiragino';
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 0 0 3.5px white;
  color: white;
}
h3 {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.loading{
  transition-duration: 0.3s;
  filter: blur(0.2rem);
}

.box-content {
  border: solid 3px white;
  border-radius: 1rem;
  padding: 4rem 3rem 8rem 3rem;
  box-shadow: 0 0 10px white;
}

.file-button{
  display: inline-block;
  padding: 0.9rem 2.5rem;
  border: solid 2px white;
  text-shadow: 0 0 2.5px white;
  box-shadow: 0 0 5px white;
  background-color: transparent;
  border-radius: 1rem;
  transition-duration: 0.3s;
}
.file-button:hover{
  text-shadow: 0 0 4px white;
  box-shadow: 0 0 15px white;
  cursor: pointer;
}

.get-genre-button, .ytb-button {
  text-shadow: 0 0 2.5px white;
  border: solid 2px white;
  box-shadow: 0 0 5px white;
  background-color: transparent;
  border-radius: 1rem;
  transition-duration: 0.3s;
}
.get-genre-button:hover, .ytb-button:hover {
  text-shadow: 0 0 4px white;
  box-shadow: 0 0 15px white;
  cursor: pointer;
}
.get-genre-button{
  padding: 1rem 2rem;
}
.ytb-button{
  padding: 1rem 3rem;
}

.genre{
  text-shadow: 0 0 2.5px white;
  margin: 3rem 0;
}

#input-file {
  display: none;
}
